.navbar {
    background-color: hsl(220, 13%, 18%);
    padding: 10px 20px;
    height: 5rem;

  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-logo {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .navbar-menu {
    list-style: none;
    display: flex;  
    margin: 0;
    padding: 0;
  }
  
  .navbar-item {
    margin-left: 20px;
  }
  
  .navbar-link {
    color: white;
    text-decoration: none;
    font-size: 1em;
  }
  
  .navbar-link:hover {
    text-decoration: underline;
  }
  