altair
annotated-types
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
diskcache
filelock
Flask
Flask-Cors
fsspec
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-core
google-cloud-storage
google-crc32c
google-generativeai
google-resumable-media
googleapis-common-protos
grpcio
grpcio-status
grpcio-tools
httplib2
huggingface-hub
idna
itsdangerous
Jinja2
jsonschema
jsonschema-specifications
markdown-it-py
MarkupSafe
mdurl
packaging
pandas
pillow
poppler-utils
proto-plus
protobuf
pyarrow
pyasn1
pyasn1_modules
pydantic
pydantic_core
pydeck
Pygments
pyparsing
PyPDF2
python-dateutil
python-dotenv
pytz
PyYAML
referencing
regex
requests
rich
rpds-py
rsa
safetensors
setuptools
six
smmap
streamlit
tenacity
tokenizers
toml
toolz
tornado
tqdm
transformers
typing_extensions
tzdata
uritemplate
urllib3
watchdog
Werkzeug
